@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
          margin: 0;
          padding: 0;
         box-sizing: border-box;
         font-family: "Open Sans", sans-serif;

}
.main{

          display: flex;
          justify-content: space-evenly;
          align-items: center;
          background-color: #412567;
          color:#FFFFFF ;
          min-width: 1000px;
}
.aaa{
          display: none;
}
.About{
         
          display: flex;
          gap: 32px;
          font-weight:100;
          font-size: 14px;
          cursor: pointer;
}
.big{
          font-size: 50px;
          font-weight: bold;
          height:100px ;
          align-items: center;
          padding-top: 15px;
          
}
.big>p{
          font-size: 40px;
       
}
.man{
                     background: linear-gradient(90deg, #ff00cc, #ffcc00);
                               -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
}
.btn {
          cursor: pointer;
          width: 134px;
          height: 44px;
          border: none;
          border-radius: 22px;
          font-weight: 600;
          background: linear-gradient(90deg,
          rgba(247, 233, 63, 1),
           rgba(251, 9, 180, 1),
           rgba(145, 0, 248, 1)) ;
           color: #FFFFFF;
           transition: transform 1s linear 0s;

}
.btn{
          width: 134px;
          height: 44px;

  animation: moveBox 2s linear infinite;
}

@keyframes moveBox{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100px);
  }         
}
.btn:hover{
            background: aqua ;
}

/*
.btn ,.sub{
          width: 134px;
          height: 44px;
  animation: pulse 6s ease-in-out infinite;
}

@keyframes pulse{
  0%{ transform: scale(1); }
  50%{ transform: scale(1.3); }
  100%{ transform: scale(1); }
}


.btn{
  animation: bounce 2s infinite;
}

.box:hover{
  animation-play-state: paused;
}

@keyframes bounce{
  0%,100%{ transform: translateY(0); }
  50%{ transform: translateY(-30px); }
}
.btn:hover{
          transform:rotate(1deg) scale(1.5);
          background: aqua;
          
}*/

.sec{
          
          
          height:100%;
          width:100%;
          background-image: url(./assets/hero-bg.png) ;
          background-size:cover;
          background-position: center;
          background-repeat: no-repeat;

}
.banner{
          color: white;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
         

}
.banner-contenar{
          
}
.banner .round{
          
          width: 400px;
          height: auto;
          display: flex;
          margin-top: 150px ;
          justify-content: center;
          align-items: center;
          

}
.banner .microphone{
          width: 170px;
          height: 200px;
          position: relative;
          left: 110px;
          bottom: 300px;
          transition: 1s;
          transform:rotate(1deg) scale(1.0)

}

.microphone:hover{
  animation: spin 10s linear infinite;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

/*
.microphone:hover{
                  transform:rotate(1deg) scale(1.5);
          

}*/
.banner .banner-contenar>span{
          background-color:#00FF88;
          color: #1A0B2E ;
          padding: 4px 10px;
          border-radius: 40px;
          font-size: 25px;
          font-weight: 700;
          display: inline-block;
          position: relative;
          bottom: 550px;
          left: 120px;

          
}


.banner .banner-contenar>span{
  animation: fade 3s ease-in-out infinite;
}

@keyframes fade{
  0%{ opacity: 0; }
  50%{ opacity: 1; }
  100%{ opacity: 0; }
}
.Tech-contenar{
          
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 120px;
          position: relative;
          top: -120px;
          height: 200px;
          width: 550px;

}
.Wave{
          font-size: 60px;
          font-weight: 700;
          text-align: center;


}
.fixt{
          font-size: 10px;
          font-weight: 400;
          
          width:px;
          color: #FFFFFF;
         
          position: relative;
          
          bottom: 80px;
          font-family: initial;    
}
.Listen{
  display: flex;
  justify-content: space-between;
  gap: 30px ;
}
.Listen>button{
          position: relative;
          bottom: 50px;
          gap: 80px ;
}
.Listen>.btn{
           animation: none;
           transition:transform 1s;
}
.Listen>.btn:hover{
           transform:rotate(1deg) scale(1.5);
         
          
          background: aqua ;
          color: #FFFFFF;
}
.sub{
          background:none;
          border: 2px solid#00FF88;
          color: #00FF88;
          cursor: pointer;
          width: 134px;
          height: 44px;
          border-radius: 22px;
          font-weight: 600; 
         transition:transform 1s ;     
}
.sub:hover{
           transform:rotate(1deg) scale(1.5);
         
          
          background: aqua ;
          color: #FFFFFF;
}
.about-preant{
          background-color: #1A0B2E;
          color: #FFFFFF;
        
          min-width:1200px ;
          min-height: 300px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;


                
}
.about-preant>h3{
          margin-top: 50px;
          font-size: 48px;
          font-weight: 600;
          margin-bottom: 30px;
          
}
.p{
          /*margin-top: 16px;
          font-size: 16px;
          font-weight: 400px  ;
          padding: 0 200px;*/
          max-width: 800px;
          margin: 0 auto;
          text-align: center;
          font-size: 16px;
          line-height: 1.8;
          color: rgb(255, 255, 255, 0.75);
}
.gap-line{
          display: block;
          margin-top: 24px;
}
.about-stats{
          display: flex;
          margin: 80px 300px;
          border-top: 1px solid ;
          padding-top: 80px;
          gap: 80px ;
          
}
.Monthly{
          

}
h2{
          font-size: 48px;
          font-weight:800 ;
          color:#00FF88;
}
.explore1>p{
          white-space:nowrap;
          text-align: center;

}
.explore>p{
          white-space:nowrap;
          text-align: center;

}
.explore2>p{
          white-space:nowrap;
          text-align: center;

}
/*TechWave*/
.Choose-perant{
          background-color: #2D1847;
          color: #FFFFFF;
          justify-content: center;
          align-items: center;
          
}
.hero{
          display: flex;
          justify-content: center;
          padding-top: 120px;
          font-size: 48px;
          font-weight: 700;
}/*
.Premium-preant{
          display: flex;
          justify-content: ;
}
.Premium-preant {
          max-width: 1000px;
          margin: 50px auto;
          height: auto;
          display: grid;

}*/

.card{
          /*max-width: 300px;
          height: 300px;*/
          line-height: 1.8;
            box-shadow: 
                     12px 1px rgba(0, 0, 0, 0.25),
                     0 0 60px rgba(124, 58, 237, 0.35);
                     

          padding: 40px;
          margin-bottom: 30px;
          border-radius: 40px;
          /*cursor: pointer;*/

}
.titans{
          font-size: 24px;
          font-weight: 800;
}
.headphone>p{
           color: rgb(255, 255, 255, 0.75);
}

.headphone{
          grid-area: headphone;
}
.device{
          grid-area: device;
}
.location{
          grid-area: location;
}
.blut{
          grid-area: blut;
}
.resource{
          grid-area: resource;
}
.Premium-preant {
          max-width: 1000px;
          margin: 50px auto;
          height: auto;
          padding-bottom: 100px;
          display: grid;
          gap: 30px ;
          grid-template-areas: 
          "headphone device device"
          "headphone location location "
          "blut blut resource"
}
.Featured{
          background-color: #1A0B2E;
          color: #FFFFFF;
          margin-top: -100px;
          height: 1300px;
          
}
.all-parent{
          max-width: 1200px;
          margin: 0 auto;
          /*
          border: 2px solid red;
          width: ;
          display: flex;
          justify-content: center;
          align-items: center;*/ 
          padding: 10px 50px 10px 0px;

          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap: 30px ;

}
.Episodes{
          padding-top: 80px;
         padding-bottom: 50px;
}
iframe{
          cursor: pointer;
}
.Kumar{
          max-width: 1200px;
          margin: 40px auto;
         display: flex;
         gap: 30px ;
         justify-content: center;
         align-items: center;
         margin-bottom: 100px;

}  
.Alex>h3{
          font-size: 32px;
          font-weight: 700px  ;
}
.Alex>p{
          font-size: 16px;
          line-height: 1.8;
          color: rgb(255, 255, 255, 0.75);
}

 .png{
          border:1px solid ;
          padding: 10px;
           

          color: #533C72;
          border-radius: 50%;
          width: 30px;
          height: 30px;
 }  
 .x{
          gap: 15px;
 }
 .foot{
          width: 100%;
          min-width: unset;

          height: 450px;
          background-image: url(./assets/footer-bg.png);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

 }
.spotify {
          color: #FFFFFF;
          width: 600px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(4,1fr);
          padding-left: 50px;
          gap: 80px;
          
          
}
.t{
          color: #FFFFFF;

}

.www{
          font-size: 80px;
          font-weight: 900;
          padding-top: 50px;
          padding-bottom: 20px;


}
.foot>p{
          font-size: 16px;
          line-height: 1.8;
          color: rgb(255, 255, 255, 0.75);

}
.non{
  display:none ;
}
@media screen and (max-width:575px) {



         .main{
          min-width: 100%;
          justify-content: space-between;
          padding: 0 15px;
         }
          .About{
                    display: none;
          }
          .main>.btn{
            display: none;
          }
           .non{
            display: inline;
            display: block;
            width: 30px;
            cursor: pointer;
              }
            .sec{
            background-image: url("./assets/back.png");
             background-size: cover;
            background-position: center;
             background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
            /*align-items: center;*/
            align-items: center;
            

            }

           .banner .round{
            width: 250px;
            margin-top: px;
           }
           .banner .microphone{
            width: 120px;
            height: 120px;
            left: 65px;
            bottom: 190px;
           }
          .banner .banner-contenar>span{
            font-size: 16px;
            bottom: 330px;
            left: 65px;

           } 
          .Tech-contenar{
            width: 100%;
            padding: 0 15px;
            top: -80px;
            align-items: center;
            margin-top: 50px;
          }
          .Wave{
            font-size: 36px;
          }
          
          .fixt{
           font-size: 14px;
             bottom: 30px;
           color: rgb(255, 255, 255, 0.75);

          }
           .Listen{
            gap: 10px ;
            margin-top: 50px;
            align-items: center;
            flex-direction: column;
            margin-left: 50px;
           }
           .sub{
            margin-top: 30px;
           }
            .about-preant,.hero,.Episodes{
            min-width: 100%;
            width: 100% ;
             padding: 2px 20px;
            text-align: center;
            }
            .hero{
              padding-top: 50px;
            }

           .about-stats{
            display: grid;
              grid-template-areas: 
              "Monthly explore "
              "explore1    explore2"
           }
           .Premium-preant{
            padding: 16px 30px;
            padding-bottom: 50px;
            grid-template-areas: 
            "headphone"
            "device"
            "location"
            "blut"
            "resource"
           }
           .all-parent{
            grid-template-columns: repeat(1,1fr);
            padding: 50px;
           }
           .Featured{
            height: auto;
            padding-bottom: 200px;
           }

           
           .Kumar{
            flex-direction: column;
           text-align: center;
           }
           .add{
            padding: 50px;
           }
           
  
            .foot{
             background-image: url("./assets/Image.png");
             background-size: cover;
            background-position: center;
             background-repeat: no-repeat;
            padding: 0px 20px;
            height: 100%;
            width: 100%;
            gap: px;
            /*align-items: center;*/
            align-items: center;
            
            
             }

           .www{
              font-size: 36px;
               margin-bottom: 0px;
                padding-top: 20px;
              }

             .spotify{
                display: grid;
               grid-template-columns: repeat(2,2fr);
               gap: 30px;
              /* border: 10px solid red;*/
               width: 100%;
               margin:  0;
                padding: 0;
                }

               .spotify > div{
               display: flex;
               align-items: center;
              justify-content: center;
               gap: 1px;
             }

              .spotify img{
                width: 22px;
              height: 22px;
              }

              .spotify span{
                  font-size: 15px;
                color: rgba(255,255,255,0.85);
              }

               .foot > p{
                font-size: 14px;
                margin-top: 0px;
                color: rgba(255,255,255,0.75);
                padding-bottom: 50px;
              }

           /*
           .foot{
            padding: 40px 16px;
            height: auto;
            text-align: center;
            background-size: cover;
            background-position: center;
           }
          .spotify{
            
            grid-template-columns: repeat(2,1fr);
            gap: 0 ;
            place-items: center;
            width: 100%;
            padding-left: 0;



          }
          .www{
            font-size: 32px;
          }


/*
  .about-stats{
    margin: 40px 0;
    gap: 25px;
  }
         /*  .about-preant{
            min-height: 100%;
            width: 100%;
            padding: 40px 15px ;

           }
           .about-preant>h3{
            font-size: 32px;
            text-align: center;
           }
           .about-stats{
            flex-direction: column;
            margin: 40px 0;
            gap: 30px ;
            text-align: center;
           }
           

          /*
          .main
          .big{
                     display: flex;
                     justify-content:space-between;
                     align-items: center;
                     gap: 80px;
                     margin-left: 10px;
                     
          }
          .aaa{
                    margin-bottom: 10px;
                    display: inline;
              }
          .banner{
            height: 100%;
            
          }   
          .card{
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
          }*/

}
